body{
	margin: 0;
	padding: 0;
	height: 100%;
	box-sizing: border-box;
}
html{
	width: 100%;
	height: 100%;
	scroll-behavior: smooth;
}
.container-fluid{
	position: relative;
	height: 400%;
	width: 100%;
	/* margin-top: 10px; */
}
.sub-con{
	position: relative;
	width: 100%;
	min-height: 23%;
	overflow: hidden;
	/* margin-bottom: 10%; */
}
.sub-con h1{
	color:#e9dada;
	margin-left: 2%;
}
#box1{
	background: radial-gradient(156.4% 477.71% at 76.32% 30.02%, #16B7C1 0%, #5146C9 100%);
}
#box2{
	background: radial-gradient(156.4% 477.71% at 76.32% 30.02%, #5146C9 0%, #C946C4 100%);
}
#box3{
	background: radial-gradient(156.4% 477.71% at 76.32% 30.02%, #D71BDB 0%, #6116C1 100%);
}
#box4{
	background: radial-gradient(156.4% 477.71% at 76.32% 30.02%, rgba(194, 55, 55, 0.95) 0%, #EC0EBB 100%);
}
.nav{
	width: 100%;
	background-color: #333333;
	height: 50px;
}
nav{
	position: fixed;
	margin-top: 0;
    width: 100%;
    height: 50px;
	background-color: #33333312;
	z-index: 1;
}
nav > *{
	font-size: 22px;
	margin-left: 20px;
	line-height: 42px;
	position: relative;
	top:-40px;
}
.defu{
	top:0px;
}
nav a:hover{
	text-decoration: none;
}
nav:hover{
	background-color: #333333;
}
nav:hover *{
	top:0px;
	transition: .4s linear;
}
nav img{
	top: -80px;
    position: absolute;
    right: 15px;
    width: 58px;
    margin-top: 3px;
}
.navx{
	width: 100%;
	height: 65px;
}
/* contants */
.contants p{
	position: absolute;
left: 15%;
font-family: 'Poppins';
text-shadow: -6px 4px 5px #16B7C1;
}
.contants #hey{
width: 72px;
height: 33px;
left: 15%;
top: 120px;
font-size: 34px;
color: #5C0A79;
}
#proname{
width: 370px;
height: 39px;
left: 20%;
top: 178px;
font-size: 24px;
line-height: 28px;
color: #000000;
}
#proname span{
	font-size: 34px;
	text-transform: capitalize;
}
#profi{
width: 316px;
height: 51px;
left: 20%;
top: 243px;
color: #000000;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
}
#mess{
	color:white;
	font-size: 18px;
	position: relative;
	font-family: 'Poppins',sans-serif;
	width: 50%;
	top:270px;
}
.backsvg{
	position: absolute;
width: 100%;
height: 244px;
right:0;
bottom:-30px;
}
.backsvg path:nth-child(1){
	animation: mover 15s alternate linear infinite;
}
.backsvg path:nth-child(2){
	animation: mover 25s alternate linear infinite;
}
@keyframes mover{
	0%{
		transform: translateX(0);
	}
	100%{
		transform: translateX(580px);
	}
}
/*skills*/
.skills ul{
	list-style: none;
}
.skills ul li{
	font-family: Poppins;
font-style: normal;
font-weight: 500;
width: 86px;
height: 32px;
font-size: 16px;
line-height: 21px;
position: relative;
margin-top: 60px;
color: #79CB9F;
left: 10%;
}
.skills ul li span{
	position: absolute;
	left: 110px;
	bottom: 0;
}
.anima{
	animation :ani 1s linear 1;
}
@keyframes ani{
	from{
		stroke-dashoffset: 90;
	}
	to{
		stroke-dashoffset: 0;
	}
}
#laptop{
position: absolute;
width: 436px;
height: 285px;
left: 55%;
top: 20%;
}
#skillsvg{
position: absolute;
width: 500px;
height: 500px;
left: 45%;
top: 2%;
bottom: 2%;
}
#skillsvg path{
	animation:ani2 1.2s linear alternate infinite;
	transform-origin: center;
	position: absolute;
	stroke: cornsilk;
    stroke-dasharray: 50;
}
@keyframes ani2{
	0%{
		transform: scale(.7);
		stroke-dashoffset: 0;
	}
	90%{
		transform: scale(.95);
		stroke-dashoffset: 40;
	}
	100%{
		transform: scale(1);
		stroke-dashoffset: 0;
		stroke:#07de2d ;
	}
}
.rotater{
	animation: ani3 5s linear alternate infinite;
}
@keyframes ani3{
	0%{
		transform: rotateZ(0deg);
	}
	100%{
		transform: rotateZ(30deg);
	}
}
#laptop path{
	stroke-dashoffset: 0; 
	stroke-dasharray: 650;
}
#laptop:hover path{
	stroke-dashoffset: 1300; 
	transition: all 1.5s;
}
.fuller{
	animation: fuller 2s linear 1;
	animation-delay: .4s;
	transition: all 1s;
}
@keyframes fuller{
	0%{
		stroke-dashoffset: 650;
	}
	100%{
		stroke-dashoffset: 0;
	}
}
.email{
	color:#e9dada;
	font-size: 30px;
	margin-top:10%;
	position: relative;
	left: 2%;
	display: inline-block;
}
.work svg{
	position: relative;
	
}
.work{
	color: white;
    position: relative;
    width: 100%;
    height: 120px;
}
.work .wsvg{
	width: 180px;
	float:right;
display: inline-block;
text-align: center;
padding: 20px;
margin-left: 3%;
margin-right: 10px;
margin-top: 10px;
background: linear-gradient(231.92deg, #6217C1 -11.94%, #D11CD9 111.94%);
border-radius: 40px;
}
.work .wsvg span{
	position: relative;
	bottom: 0px;
	/* text-align: center; */
	
}
.work svg path{
	stroke-dasharray: 200;	
}
.anima1{
	animation: woker 1.5s linear alternate 1;
	animation-delay: .3s;
}
@keyframes woker{
	0%{
		stroke: bisque;
		fill:none;
		stroke-dashoffset: 200;	
	}
	75%{
		stroke-dashoffset: 0;	
	}
	100%{
		fill:bisque;
		stroke: none;
	}
}
.contact svg{
	position: absolute;
    right: 10px;
    top: 25%;
}
.anima2{
	animation: cont 1.5s linear alternate 1;
	animation-delay: .2s;
	stroke-dasharray: 970;
}
@keyframes cont{
	0%{
		stroke-dashoffset: 970;	
	}
	100%{
		stroke-dashoffset: 0;	
	}
}
.form{
	position: relative;
	width: 50%;
	height: 60%;
	left: 5%;
}
.form .input{
	width: 100%;
	margin-top: 3%;
	border-radius: 8px;
	background: rgba(143, 223, 226, 0.9);
}
.form #send{
	width: 80px;
	height: 40px;
	border-radius: 10px;
}
.sub-work{
position: absolute;
width: 240px;
height: 140px;
border: 4px solid #405eac;
border-radius: 10px;
overflow: hidden;
}
.sub-work img{
	width: 100%;
	height: 100%;
}
.worknav{
	position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
	top: -140px;
	left: 0;
	text-align: center;
	background: rgba(55, 49, 49, 0.49);
	transition: all .7s;
}
.worknav:after{
	content: '';
	position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
	top: 280px;
	left: 0;
	background: rgba(55, 49, 49, 0.49);
	transition: all .5s;
}
.sub-work:hover .worknav{
	display: inline-block;
	top: 0;
}
.sub-work:hover .worknav:after{
	display: inline-block;
	top: 0;
}
.sub-work:hover .worknav a{
	top: 50px;
}
.worknav a{
	position: relative;
	top:-40px;
	color:#fff;
	z-index: 1;
	font-size: 20px;
	transition: top .6s;
	transition-delay: .4s;
}
.worknav a:hover{
	text-decoration: none;
	color:#07de2d;
	font-size: 21px;
}
.work1{
	position: relative;
	width: 240px;
	height: fit-content;
    left: 20px;
    color: white;
}
.discription{
width: 240px;
height: fit-content;
position: relative;
	top: 150px;
	text-align: left;
}
.discription ul{
	list-style-type: square;
}
#send-mess{
	color:#fff;
}
/* responsive */
@media only screen and (max-width: 950px) {
	.container-fluid{
		margin: -20px 0 0 0;
		padding: 0;
	}
	.contants #hey{
		left: 5%;
	}
	.contants p{
		left: 5%;
	}
	.contants #proname,#profi{
		left:10%;
	}
	#laptop{
		width: 35%;
		left:65%;
		top:25%;
	}
	.skills ul li{
		left:2%;
	}
	#skillsvg{
		left: 35%;
		width: 400px;
		height: 400px;
		top:16%;
	}
	.work .wsvg{
		margin: 5px 4%;
	}
	.workcon{
		position: relative;
		top:10%;
		text-align: center;
		width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
	}
	.sub-work{
		left: auto;
		top:0;
	}
	.contact svg{
		width: 40%;
		top:30%;
	}
	.email{
		font-size: 20px;
	}
	.backsvg {
		height: 30vh;
		bottom: -40px;
  }
}
  @media only screen and (max-width: 500px) {
	nav{
		position: relative;
	}
	nav img{
		display:none;
	}
	nav >* {
		font-size: 16px;
		margin-left: 10px;
	}
	.container-fluid{
		margin-top: -50px;
	}
	.contants #hey{
		top:12%;
		left:5%;
		font-size: 28px;
	}
	#proname {
		top:25%;
		left: 10%;
		font-size: 20px;
	}
	#proname span{
		font-size: 26px;
	}
	#profi{
		left: 10%;
		top:35%;
	}
	#mess{
		position: absolute;
		top: 44%;
		left:5%;
		width: 60%;
	}
	.backsvg {
		bottom: -55px;
	  }
	  /* skills */
	  .skills{
		  margin:0 auto auto 0;
	  }
	  .skills ul li {
		left: 10%;
    	position: relative;
		margin: 18px auto auto auto;
		width:100%;
		font-size: 14px;
	}
	.skills svg{
		width: 36px;
	}
	#skillsvg {
		left: 0;
		margin:auto;
		top: -20px;
    	width: 100%;
    	height: 260px;
		position: relative;
	}
	.work .wsvg{
		width:130px;
		margin: 5px 5%;
	}
	.work svg {
		width: 36px;
	}
  }
